.box {
  font-family: sans-serif;
  border-radius: 50%;
  position: absolute;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
